@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main.container {
    max-width: 50%;
    margin-top: -25px;
    padding: 0px 25px 25px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-heading h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(240, 242, 252);
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-align: center;
}
.main-heading .line {
    background-color: rgb(240, 242, 252);
    margin: -20px auto 5px;
    width: 80%;
    height: 5px;
    border-radius: 2px;
}
.container p {
    color: rgb(240, 242, 252);
}
.seperate-heading h2{
    display: flex;
    justify-content: center;
    color: rgb(240, 242, 252);
}

.stats {
    margin-top: 30px;
}
.stat {
    margin-top: 30px;
}
.stat-detail {
    display: flex;
    justify-content: space-between;
    color: rgb(240, 242, 252);
}
.stat-outerbar{
    font-weight: bolder;
    margin-top: 5px;
    height: 25px;
    background-color: rgb(11, 26, 75);
}

.stat-innerbar{ 
    color: rgb(11, 26, 75);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(240, 242, 252);
    height: 100%;   
}
.btn1 {
    margin-left: 34%;
    padding: 20px;    
    color: rgb(240, 242, 252);
    font-size: larger;
    text-decoration: none;
    border-style: inset;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn1:hover{
    background-color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.table {
    width: 100%;
    text-align: center;
    color: rgb(240, 242, 252);
    font-size: 60px;
    font-weight: 900;
}
.celltitle {
    font-size: 25px;  
}
.cellpic {
    height: 150px;
    width: 120px;
}
