@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main.container {
    max-width: 60%;
    margin-top: -25px;
    padding: 0px 25px 25px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-heading h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(240, 242, 252);
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-align: center;
}
.main-heading .line {
    background-color: rgb(240, 242, 252);
    margin: -20px auto 5px;
    width: 80%;
    height: 5px;
    border-radius: 2px;
}
.container p {
    color: rgb(240, 242, 252);
}
.main-heading h2 {
    color: rgb(240, 242, 252);
}